%h2{ :align => 'center' } Сеть доверия на основе документов Google

%p{ :align => 'center' }
  = link_to trust_net_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.trust_net")
%p{ :align => 'center' }
  = link_to user_path do
    %button.btn.btn-primary.btn-lg= I18n.t("titles.user_cabinet")
