%h2{ :align => 'center' } Сеть доверия на основе документов Google

%p{ :align => 'center' }
  = link_to '#' do
    %button.btn.btn-success.btn-lg Сеть доверия
%p{ :align => 'center' }
  = link_to user_path do
    %button.btn.btn-primary.btn-lg Личный кабинет

/
  %p User session is #{(user_session ? "OK" : "BAD")}
