%h3 Проверка идентификатора

%p
  Для проверки идентификатора используются некоторые персональные данные,
  которые вам должен предоставить проверяемый пользователь.
  Однако, никакие из этих данных при этом НЕ передаются на сервер. Они используются
  только на вашем компьютере.

%p
  Идентификатор:
  %input{ :type => 'text', :id => 'idhash', :size => 74, :value => params{:idhash}}
  %b
    %span{:id => 'result'}
%p
  Фамилия:
  %input{ :type => 'text', :id => 'last_name'}
  Имя:
  %input{ :type => 'text', :id => 'first_name'}
  Отчество:
  %input{ :type => 'text', :id => 'middle_name'}
%p
  Дата рождения (в виде ДД.ММ.ГГГГ с нулями, например "01.01.1990"):
  %input{ :type => 'text', :id => 'birth_date'}
%br
  %button{ :id => 'check_hash' }
    Проверить
