%h3 Ваш идентификатор

%p
  Для создания идентификатора используются некоторые ваши персональные данные.
  Однако, никакие из этих данных при этом НЕ передаются на сервер. Они используются
  только на вашем компьютере для формирование вашего идентификатора. Восстановить
  ваши персональные данные из идентификатора невозможно.
%p
  Пожалуйста, вводите настоящие данные. Т.к. их проверка понадобится
  для работы сети доверия.
  
%p
  Фамилия:
  %input{ :type => 'text', :id => 'last_name'}
  Имя:
  %input{ :type => 'text', :id => 'first_name'}
  Отчество:
  %input{ :type => 'text', :id => 'middle_name'}
%p
  Дата рождения (в виде ДД.ММ.ГГГГ с нулями, например "01.01.1990"):
  %input{ :type => 'text', :id => 'birth_date'}
= form_for :user, :url => user_path, :method => 'POST', :html => { :id => 'idhash_form' } do |f|
  = f.hidden_field :idhash, :id => 'idhash_field'
  %button{ :id => 'calc_hash' }
    Готово
