%h3 Ваш идентификатор

.panel.panel-default
  .panel-body
    %p
      Для создания идентификатора используются некоторые ваши персональные данные.
      Однако, никакие из этих данных при этом НЕ передаются на сервер. Они используются
      только на вашем компьютере для формирование вашего идентификатора. Восстановить
      ваши персональные данные из идентификатора невозможно.
    %p
      Пожалуйста, вводите настоящие данные. Т.к. их проверка понадобится
      для работы сети доверия.
.panel.panel-default
  .panel-heading
    ВАЖНО!!!
  .panel-body
    Если вы собираетесь изменить свои идентификационные данные (это касается всех полей
    кроме псевдонима), имейте ввиду, что в этом случае все голоса, подтверждающие вашу верификацию
    станут недействительными. И вы не сможете голосовать пока не пройдете верификацию снова.
  
.panel.panel-default
  .panel-heading
    Ваши данные
  .panel-body
    %table.white.wide.padded
      %tr
        %td.right{:width => '50%'}
          Фамилия:
        %td
          %input{ :type => 'text', :id => 'last_name'}
      %tr
        %td.right
          Имя:
        %td
          %input{ :type => 'text', :id => 'first_name'}
      %tr
        %td.right
          Отчество:
        %td
          %input{ :type => 'text', :id => 'middle_name'}
      %tr
        %td.right
          Дата рождения (ДД.ММ.ГГГГ с нулями, например "01.01.1990"):
        %td
          %input{ :type => 'text', :id => 'birth_date'}
      = form_for :user, :url => user_path, :method => 'POST', :html => { :id => 'idhash_form' } do |f|
        %tr
          %td.right
            Псевдоним, под которым вас будут видеть другие пользователи:
          %td
            = f.text_field :nick
        %tr
          %td.center{:colspan => '2'}
            = f.hidden_field :idhash, :id => 'idhash_field'
            %button.btn.btn-primary{ :id => 'calc_hash' }
              Готово
            = link_to "Назад", :back, :class => 'btn btn-default'
