// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
  vertical-align: middle;
}

.left {
  text-align: left;
  vertical-align: middle;
}

.right {
  text-align: right;
  vertical-align: middle;
}

table tr th.center {
  text-align: center;
  vertical-align: middle;
}

table tr td {
  background-color: white;
}

table.invis tr td{
  background-color: #eee;
  border: 0;
}

table.wide {
  width: 100%;
}
