// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  min-width: 550px;
}

.btn-wide, .btn-group-wide > .btn {
  padding: 60px 12px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  width: 100%;
}

.wide {
  width: 100%;
}

table.white tr td {
  background-color: white;
}